In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kuytun,RU,2022-07-28 15:15:59,54.3419,101.5036,57.76,82,93,3.58
1,1,Albany,US,2022-07-28 15:15:06,42.6001,-73.9662,85.30,65,7,1.01
2,2,East London,ZA,2022-07-28 15:16:00,-33.0153,27.9116,67.14,77,0,16.11
3,3,Grand-Santi,GF,2022-07-28 15:16:00,4.2500,-54.3833,81.45,87,30,2.19
4,4,Saldanha,ZA,2022-07-28 15:16:00,-33.0117,17.9442,66.25,72,0,11.99

In [4]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure()

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap for percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap for percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=cloudiness,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap for wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=wind_speed,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maxinum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maxinum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Albany,US,2022-07-28 15:15:06,42.6001,-73.9662,85.30,65,7,1.01
3,3,Grand-Santi,GF,2022-07-28 15:16:00,4.2500,-54.3833,81.45,87,30,2.19
9,9,Hirara,JP,2022-07-28 15:16:03,24.8000,125.2833,85.23,74,3,10.02
12,12,Chapada Dos Guimaraes,BR,2022-07-28 15:16:05,-15.4606,-55.7497,83.86,18,1,7.29
13,13,Shubarshi,KZ,2022-07-28 15:16:06,48.5872,57.1869,82.69,37,70,9.37
15,15,Cabedelo,BR,2022-07-28 15:16:07,-6.9811,-34.8339,83.07,72,29,14.83
16,16,Saint George,US,2022-07-28 15:12:03,37.1041,-113.5841,80.44,68,0,5.75
17,17,Bud,US,2022-07-28 15:16:08,39.4470,-86.1758,82.67,69,91,4.59
21,21,Butaritari,KI,2022-07-28 15:16:09,3.0707,172.7902,81.70,73,100,15.68
34,34,San Patricio,US,2022-07-28 15:16:17,28.0170,-97.5169,89.55,54,2,12.44

In [14]:
preferred_cities_df.notnull().sum()

City_ID       179
City          179
Country       176
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       179
City          179
Country       176
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [16]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1                  Albany      US     85.30  42.6001  -73.9662
3             Grand-Santi      GF     81.45   4.2500  -54.3833
9                  Hirara      JP     85.23  24.8000  125.2833
12  Chapada Dos Guimaraes      BR     83.86 -15.4606  -55.7497
13              Shubarshi      KZ     82.69  48.5872   57.1869
15               Cabedelo      BR     83.07  -6.9811  -34.8339
16           Saint George      US     80.44  37.1041 -113.5841
17                    Bud      US     82.67  39.4470  -86.1758
21             Butaritari      KI     81.70   3.0707  172.7902
34           San Patricio      US     89.55  28.0170  -97.5169

In [17]:
# Set the parameters for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grad the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Albany,US,85.30,42.6001,-73.9662,
3,Grand-Santi,GF,81.45,4.2500,-54.3833,Hotel La Villa Couacou
9,Hirara,JP,85.23,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
12,Chapada Dos Guimaraes,BR,83.86,-15.4606,-55.7497,Pousada Morro Dos Ventos
13,Shubarshi,KZ,82.69,48.5872,57.1869,
15,Cabedelo,BR,83.07,-6.9811,-34.8339,Pousada Camboinha
16,Saint George,US,80.44,37.1041,-113.5841,Best Western Plus Abbey Inn
17,Bud,US,82.67,39.4470,-86.1758,Ted McQuinn Trust
21,Butaritari,KI,81.70,3.0707,172.7902,Isles Sunset Lodge
34,San Patricio,US,89.55,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [20]:
# Description Definition
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} 'F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))